.main {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.n {
  position: absolute;
  height: 10px;
  background: #000;
  width: 200px;
}

.n1 {
  top: 400px;
}

.n2 {
  top: 600px;
}

.n3 {
  top: 800px;
}

.n4 {
  top: 1000px;
}

.n5 {
  top: 1200px;
}
